*{
    padding: 0;
    margin: 0;
}
.form-container{
    padding: 30px;
    display: flex;
    justify-content: center;
}
form{
    padding: 40px;
    border-radius: 10px;
    background: lightcoral;
}
form label{
    font-weight: 900;
    font-size: 17px;
}
form input{
    outline: none;
    border: none;
    height: 30px;
    border-radius: 5px;
    padding: 3px;
}

form #submit{
    margin-top: 10px;
    width: 100%;
    background: skyblue;
}